*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid purple;
    background-color: purple;
    cursor: pointer;
    position: relative;
}
.button .circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    animation: circleRun 0.5s ease-out;
}
@keyframes circleRun {
    to{
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}